<!DOCTYPE html>
<html>
  <head>
    <title>Хочу Могу</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/font.awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!--<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">--> 
  </head>
  <body id="body">


  <div id="myModal1" class="modal hide fade" data-show="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    
    <div class="modal-body modalColor">
      <h4 class="textColor">Благодарим за заявку, мы свяжемся с вами в ближайщее время!</h4>
      
    </div>
    <div class="modal-footer modalColor locationButton">
      <button class=" buttonSize buttonSize2 buttonGradient textColor " data-dismiss="modal">ОК</button>
    </div>
  </div>
  

  



  <!-- Тело -->
    <div class="container">


      <!-- Блок шапки -->
      <div class="row" id="header">
        <div class="span2 pan2 barheader gradient">
          <img src="/static/img/logo.png" class="locationImg">
        </div>
        <div class="span1 pan1 barheader">
          <img src="/static/img/dlya-sayta.png">
        </div>
        <div class="span5 pan4 barheader gradient">
          <header class="textColor1">
            <h1>50 Оттенков Серого</h1>
          </header>
          <article>
            <p class="textColor2">Коллекция Секс Игрушек По Мотивам Трилогии</p>
          </article>
        </div>
        <div class="span3 pan3 barheader gradient">
          <p class="textColor2 locationText textSize2">Возникли вопросы? Звоните!</p>
          <p class="textSize3 textColor2">+7(929)554-97-29</p>





          <!-- Button to trigger modal -->
          <br/>
          <br/>
          <button class="locationButton2 buttonSize buttonSize4 buttonGradient textColor" data-toggle="modal" data-target="#myModal" type="button">Заказать обратный звонок</button>
          
 
            <!-- Modal -->
          <div class="modal hide fade modalSize modalColor" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header modalColor">
              <button type="button" class="close textColor" data-dismiss="modal" aria-hidden="true">X</button>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-search icon-white"> </i></button>
              <h3 class="textColor2" id="myModalLabel">Заказать обратный звонок</h3>
            </div>
            <div class="modal-body modalColor">
              <form class="form-horizontal" method="POST" action="">{% csrf_token %}
                <input type="hidden" name="formtype" value="callme">
                <div class="labelPosition elementPosition">
                  <div class="control-group">
                  
                    <div class="controls">
                      <input class="inputPosotion1" name="email" type="email" id="inputEmail" placeholder="Email" required>
                    </div>
                  </div>
                  <div class="control-group">
                 
                    <div class="controls">
                      <input class="inputPosotion1" name="phone" type="tel" pattern="[0-9]{5,12}" min="8" max="12" id="name" placeholder="Телефон" required>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="locationButton">
                      <button type="submit" class="buttonSize buttonSize2 buttonGradient textColor">&nbsp;&nbsp;&nbsp;&nbsp;Заказать&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    
                      <br/>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!--<div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn btn-primary">Save changes</button>
            </div>-->
          </div>
        </div>
      </div>



      <!-- Блок контента -->
      <div class="row" id="content">
        <div class="row pan10 fon1 blockSize borderBlock">
          <!--<img src="/static/img/akcya.png" class="">-->
        
          <div class="pan5 fon2 row">
            <img src="/static/img/sloy1.png" class="fon2">
            <img src="/static/img/predlog.png" class="imgPosition">
            
            <div class="pan5 colortest ">
              <br/>
              <h3 class="text1 textColor textShadow">Участвуй в акции<br/> прямо сейчас!</h3>
              <br/>
              <form class="form-horizontal" method="POST" action="">{% csrf_token %}
                <input type="hidden" name="formtype" value="action">
                <div class="control-group">
                  
                  <div class="controls">
                    <input class="inputPosotion" name="email" type="email" id="inputEmail" placeholder="Email" required>
                  </div>
                </div>
                <div class="control-group">
                 
                  <div class="controls">
                    <input class="inputPosotion" name="phone" type="tel" pattern="[0-9]{5,12}"  id="name" placeholder="Телефон" required>
                  </div>
               </div>
                <div class="control-group">
                  <div class="locationButton">
                    <button type="submit" class="buttonSize buttonGradient textColor">&nbsp;&nbsp;&nbsp;&nbsp;Участвовать!&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    <p class="textColor">*Ваши данные не будут переданы третьим лицам</p>
                    <br/>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
        </div>
        <div class="row span12 pan10 borderBlock kk1">
            <div class="span12 pan10 kk1 row">
              <div>
                <img src="/static/img/infografika.png">
              </div>
              <button  class="buttonSize buttonGradient textColor buttonPosition" data-toggle="modal" data-target="#myModal" type="button">&nbsp;&nbsp;Приобретите эксклюзивную секс игрушку!&nbsp;&nbsp;</button>

            </div>


            <div class="span12 pan10 kk1">
<!-- Ряд -->


            <div class=" blockSize7 blockMargin ">





            {% block items_block %}
            9999999
            {% endblock %}


  <!-- конец / начало блока с продукцией 6 -->






              </div>
            <!-- Конец ряда -->
            </div>
          </div>

        <div class="span12 pan10 kk1">
          <div class="paddingBlock pan6 marginBlock1 floatBlock1">
            

            <p class="textSize textColor">5 причин почему нас выгодно выбирать</p>

            <ul>
              <li>Мы гарантируем конфиденциальность ваших данных</li>
              <li>Оригинальная и качественная продукция</li>
              <li>Оперативное рассмотрение заявок</li>
              <li>Полное сопрововждение до и после покупки</li>
              <li>Доставка по все России</li>
            </ul>
          </div>
          <div class="floatBlock marginBlock">
            <img src="/static/img/logo.png">
          </div>
        </div>
        <div class="span12 pan10 k5">
          <div class="row pan10 fon1 blockSize borderBlock">
          <!--<img src="/static/img/akcya.png" class="">-->
        
          <div class="pan5 fon2 row">
            <img src="/static/img/sloy1.png" class="fon2">
            <img src="/static/img/predlog.png" class="imgPosition">
            
            <div class="pan5 colortest ">
              <br/>
              <h3 class="text1 textColor textShadow">Участвуй в акции<br/> прямо сейчас!</h3>
              <br/>
              <form class="form-horizontal" method="POST" action="">{% csrf_token %}
                <input type="hidden" name="formtype" value="action">
                <div class="control-group">
                  
                  <div class="controls">
                    <input class="inputPosotion" name="email" type="email" id="inputEmail" placeholder="Email" required>
                  </div>
                </div>
                <div class="control-group">
                 
                  <div class="controls">
                    <input class="inputPosotion" name="phone" type="tel" pattern="[0-9]{5,12}" id="name" placeholder="Телефон" required>
                  </div>
               </div>
                <div class="control-group">
                  <div class="locationButton">
                    <button type="submit" class="buttonSize buttonGradient textColor">&nbsp;&nbsp;&nbsp;&nbsp;Участвовать!&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    <p class="textColor">*Ваши данные не будут переданы третьим лицам</p>
                    <br/>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
        </div>
        </div>
      </div>


      <!-- Footer -->
      <div class="row kk1 paddingBlock2" id="footer">
        <div class="floatBlock1 marginBlock3">
          <img src="/static/img/logo.png">
        </div>
        <div class="floatBlock marginBlock2 textPosition2">
          <p class="textColor2 locationText textSize2">Возникли вопросы? Звоните!</p>
          <p class="textSize3 textColor2">+7(929)554-97-29</p>



          <!-- Button to trigger modal -->
          <br/>
          <br/>
          <button class="locationButton2 buttonSize buttonSize4 buttonGradient textColor" data-toggle="modal" data-target="#myModal" type="button">&nbsp;&nbsp;&nbsp;&nbsp;Заказать обратный звонок&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
      </div>
    </div>
    <script src="/static/js/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">$(function(){
   $('#myModal1').modal('show');
    });</script>
    <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'PT+Serif::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
  </body>
</html>