{% extends "base.html" %}



{% block items_block %}


{% for item in items %}

				<div class="span4 block-mini-feature">
                    <div class="header-block-mini" rel="tooltip" data-original-title="{{ item.discriptionru }}">
                        <p class="text-header-block font-family1">{{ item.titleru }}<br />{{ item.titleen }}</p>
                    </div>
                    <div class="body-block-mini">
                        <div>
                            <img src="media/{{ item.image }}" alt="{{ item.titleru }}">
                            
                            <a href="#myModal1__{{ item.id }}" data-toggle="modal">
                                <div class="radial-gradient"></div>
                            </a>
                        </div>
                    </div>
                    <div class="footer-block-mini">
                        <div class="footer-mini">
                            <p class="text-margin">Цена: {{ item.price }}</p>
                        </div>
                        <button class="font-family1 button-feature" data-toggle="modal" data-target="#myModal2{{ item.id }}" type="button">Заказать</button>
                    </div>
                    <!-- modal-complex -->
                    <!-- modal-imeg -->
                    <div class="modal hide fade" id="myModal1__{{ item.id }}" role="img">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">×</button>
                            <h3 class="font-family2">{{ item.titleru }}</h3>
                        </div>
                        <div class="modal-body" method="POST" action="">{% csrf_token %}
                            <img src="media/{{ item.image }}" alt="{{ item.titleru }}">
                        </div>
                        <div class="modal-footer">
                            <button class="buttonFeature2" data-toggle="modal" data-target="#myModal2{{ item.id }}" type="button" data-dismiss="modal">Заказать</button>
                            <button data-dismiss="modal" class="close-button">Закрыть</button>
                        </div>
                    </div>
                    <!-- modal-form -->
                    <div class="modal fade hide" id="myModal2{{ item.id }}">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">×</button>
                            <h3 class="font-family">{{ item.titleru }}<br>{{ item.titleen }}</h3>
                            <p>Введите телефон в формате +7xxxxxxxxxx, где вместо x должна быть цифра:</p>
                        </div>
                        <div class="modal-body">
                            <form class="inputFeature" method="POST" action="">{% csrf_token %}
                            	<input type="hidden" name="formtype" value="callme">
                              	<input type="hidden" name="itemid" value={{ item.id }}>
                                <fieldset>
                                    <div class="control-group success">
                                        <div class="controls">
                                            <input type="email" name="email" class="input-xlarge" id="inputEmail" placeholder="Email" required>
                                            <input type="tel" class="input-xlarge" name="phone"
                                            pattern="\+7[0-9]{5,14}" min="8" max="12" id="tel" placeholder="Телефон" required>
                                        </div>
                                    </div>
                                </fieldset>
                                <button class="buttonFeature2" type="submit">Заказать</button>
                            </form>
                        </div>
                        <script type="text/javascript">
                            $(function(){
                                $('body').tooltip({
                                selector: "[rel=tooltip]",
                                placement: "top" 
                                });
                            });
                        </script>
                    </div>
                </div>
{% endfor %}


{% endblock %}