{% extends "base.html" %}



{% block items_block %}


{% for item in items %}

 <!-- Контеинер для продукции -->
                 <div class="blockSize1">
                  <div class="borderHeader header colorHeader">
                    <p class="textColor">{{ item.titleru }}<br>{{ item.titleen }}</p>
                  </div>
                  <div class="content blockSize3">
                    <!-- <a href="#myModel__" data-toggle="modal"><img src="/static/img/prod50/zajimi/FS40186.jpg"></a> -->
                    <a href="#myModel__{{ item.id }}" data-toggle="modal"><img src="media/{{ item.image }}"></a>
                  </div>
                  <div class="footer colorFooter blockSize6">
                    <div class="textPosition1 blockSize2 floatBlock1">
                      Цена: {{ item.price }}
                    </div>
                    <div class="blockSize2 heightBlock floatBlock">
                        <button class="buttonSize1 buttonSize buttonGradient1 textColor buttonSize3" data-toggle="modal" data-backdrop="true" data-target="#myModal1{{ item.id }}" type="button">Заказать</button>
                    </div>

                    <!--сайчас тут яяяя -->
                    

                      
                      <!-- Модальный комплекс -->
                      <!-- Модал фото -->
                    <div class="modal hide fade modalSize modalColor blockSize5" id="myModel__{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        
                        <div class="modal-body modalColor" method="POST" action="">{% csrf_token %}
                            <form class="form-horizontal">
                              <div class="blockSize4">
                                <img src="media/{{ item.image }}">
                              </div>
                            
                            </form>
                        </div>
                        <div class="modal-footer modalColor">
                            <div class="locationButton">
                              <button type="submit" data-backdrop="true" data-toggle="modal" data-dismiss="modal" data-target="#myModal1{{ item.id }}" class="buttonSize buttonSize2 buttonGradient textColor">Заказать</button>
                              <br/>
                            </div>
                        </div>
                    </div>





                      <!-- Кнопка Модал -->
                      
                                              



                      <!-- Тело Модал -->
                    <div class="modal hide fade modalSize modalColor" id="myModal1{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close textColor" data-backdrop="true" data-dismiss="modal" aria-hidden="true">X</button>
                            <h3 class="textColor2" id="myModalLabel">{{ item.titleru }}<br>{{ item.titleen }}</h3>
                        </div>
                        <div class="modal-body modalColor">
                            <form class="form-horizontal" method="POST" action="">{% csrf_token %}
                              <input type="hidden" name="formtype" value="callme">
                              <input type="hidden" name="itemid" value={{ item.id }}>
                              <div class="elementPosition">
                                <div class="control-group">
                                    <label class="control-label textColor2" for="inputEmail"></label>
                                    <div class="controls">
                                      <input type="email" class="inputPosotion2" name="email" id="inputEmail" placeholder="Email">
                                  </div>
                                </div>
                                  <div class="control-group">
                                    <label class="control-label textColor2"></label>
                                    <div class="controls">
                                        <input type="text" class="inputPosotion2" name="phone" id="name" placeholder="Телефон">
                                    </div>
                                  </div>
                              </div>
                          
                            
                              <div class="control-group">
                                <div class="locationButton">
                                  <button type="submit" data-backdrop="true" class="buttonSize buttonSize2 buttonGradient textColor">Заказать</button>
                                </div>
                             
                              </div>
                            </form>
                        </div>
                        
                    </div>
                    <!-- Конец Модального комплекса -->

                </div>
            </div>
{% endfor %}


{% endblock %}